# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: Build NativeAOT

on:
  workflow_dispatch:
    inputs:
      target_os:
        description: 'Select all OSes or a single OS'
        default: all
        type: choice
        options:
          - all
          - windows-latest
          - macos-latest
      build_type:
        description: 'Select build type'
        default: Release
        type: choice
        options:
          - Release

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      matrix:
        # os: [windows-latest]
        os: ${{ github.event.inputs.target_os == 'all'
                && fromJSON('["windows-latest", "macos-latest"]') || fromJSON(format('["{0}"]', github.event.inputs.target_os)) }}

    steps:
    - uses: actions/checkout@v4
      with: 
        submodules: false

    - name: Set runtime id
      id: variants
      shell: bash
      run: |
        if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
          echo "runtime_id=linux-x64" >> "$GITHUB_OUTPUT"
        elif [ "${{ matrix.os }}" == "windows-latest" ]; then
          echo "runtime_id=win-x64" >> "$GITHUB_OUTPUT"
        elif [ "${{ matrix.os }}" == "macos-latest" ]; then
          echo "runtime_id=osx-arm64" >> "$GITHUB_OUTPUT"
        else
          echo "unknown os: ${{ matrix.os }}"
          exit 1
        fi

        TARGET_FRAMEWORK=`dotnet msbuild -getProperty:TargetFramework Cli.Taut`
        echo "target_framework=$TARGET_FRAMEWORK" >> "$GITHUB_OUTPUT"
    
    - name: Build Cli.Taut
      run: |
        cd ${{ github.workspace }}
        dotnet publish -c Release -r ${{ steps.variants.outputs.runtime_id }} -p:PublishAot=true Cli.Taut

    - name: Build Cli.Remote.Taut
      run: |
        cd ${{ github.workspace }}
        dotnet publish -c Release -r ${{ steps.variants.outputs.runtime_id }} -p:PublishAot=true Cli.Remote.Taut

    - name: Merge published files
      run: |
        cd ${{ github.workspace }}
        cd msbuild
        dotnet msbuild --verbosity:d -p:TargetFramework=${{ steps.variants.outputs.target_framework }} -p:RuntimeIdentifier=${{ steps.variants.outputs.runtime_id }} MergePublished.targets

    # - name: Copy Cli.Remote.Taut to Cli.Taut
    #   shell: bash
    #   run: |
    #     cd "${{ github.workspace }}"
    #     # The following line would exit with 1 on macOS
    #     # cp -R -n Cli.Remote.Taut/bin/Release/net10.0/${{ steps.variants.outputs.runtime_id }}/publish/* Cli.Taut/bin/Release/net10.0/${{ steps.variants.outputs.runtime_id }}/publish/
    #     rsync -av --ignore-existing Cli.Remote.Taut/bin/Release/net10.0/${{ steps.variants.outputs.runtime_id }}/publish/ Cli.Taut/bin/Release/net10.0/${{ steps.variants.outputs.runtime_id }}/publish/

    # - name: Delete debug files
    #   shell: bash
    #   run: |
    #     cd "Cli.Taut/bin/Release/net10.0/${{ steps.variants.outputs.runtime_id }}/publish/"
    #     rm *.pdb
    #     rm -rf *.dSYM

    - name: Retrieve version
      id: version
      shell: bash
      run: |
        cd Cli.Taut/bin/Release/net10.0/${{ steps.variants.outputs.runtime_id }}/publish/
        VERSION=`./git-taut --version`
        VER="${VERSION%+*}"
        echo "ver=$VER" >> "$GITHUB_OUTPUT"

    - name: Upload Cli.Taut as Artifact
      uses: actions/upload-artifact@v4
      with:
          name: git-taut-${{ steps.version.outputs.ver }}-${{ steps.variants.outputs.runtime_id }}
          path: ${{ github.workspace }}/Cli.Taut/bin/Release/net10.0/${{ steps.variants.outputs.runtime_id }}/publish/
          retention-days: 7
